.flexbox {
    display: flex;
}

.flexbox--header {
    justify-content: space-between;
    align-items: center;
}
.flexbox--hero {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 700px){
    .flexbox--hero {
        flex-direction: row;
        
    }
}
