.footer {
    background-color: #7af873;
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgba(2, 2, 2, 0.722);
}

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-links {
        margin-bottom: 10px;
    }
}